# RStudio files
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# R Markdown caches
_cache/
*.utf8.md

# Data that should NOT be committed
data/*.zip

# System files
.DS_Store
Thumbs.db

# secrets
.env
.env.*
__pycache__/
*.pyc
